<header>
    <div class="container">
        <a routerLink="/" class="logo">TAP<img src="assets/logo.png" class="mainlogo"/> <span class="box">Box</span></a>
        <nav>

            <ul>

                <li *ngIf="!isAuth">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                    <a routerLink="/dashboard">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/orders">Orders</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        <img src="https://img.icons8.com/ios-glyphs/24/null/shopping-cart--v1.png" /><span class="quanti" *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
