.container {
    position: relative;
    margin-bottom: 0.5rem;
    border-radius: 0.7rem;
    padding-top: 0.3rem;
    border: 1px solud #7c7a7a;
}

label {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    width: 100%;
}

.content {
    padding: 0 0.5rem;
    height: 2.7rem;
    display: flex;
    align-items: center;
}